{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
  <div class="grid grid-cols-3">
    <div class="flex items-center col-span-1">
      <a class="flex gap-3 items-center button"
         href="{{ path('event_index') }}">
        <span class="w-5 h-5">{{ source('@assets_path'~asset('svg/back.svg')) }}</span>
        back to list
      </a>
    </div>
    <div class="">
      <h1 class="flex-1">{{ event.name }}</h1>
    </div>
    <div class="flex items-center justify-center">
      {% if is_granted('ROLE_ADMIN') %}
        <a class="button" href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
        {{ include('event/_delete_form.html.twig') }}
      {% endif %}
    </div>
    <p class="col-span-3">{{ event.description }}</p>
  </div>
  <table class="table">
    <tbody>
    <tr>
      <th>Date</th>
      <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>{{ event.location }}</td>
    </tr>
    <tr>
      <th>City</th>
      <td>{{ event.city }}</td>
    </tr>
    <tr>
      <th>Postal code</th>
      <td>{{ event.postalCode }}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{ event.price }}</td>
    </tr>
    {% if is_granted('ROLE_ADMIN') %}
      <tr>
        <th>Number of places</th>
        <td>{{ event.seats }}</td>
      </tr>
      <tr>
        <th>Active</th>
        <td>{{ event.active ? 'Yes' : 'No' }}</td>
      </tr>
    {% endif %}
    </tbody>
  </table>
  {% include "/event/_add_participant_form.html.twig" %}

{% endblock %}
